h1{
  font-style: italic;
  color: red;
  text-align: center;
  text-decoration: underline;
}
p{
  font-size: 1.2em;
}
a{
  padding: 3px;
  box-shadow: 4px 3px 5px rgba(0,0,0,.7);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgba(184,183,183,0.2);
  margin-right: 10px;
}
a:active{
  box-shadow: inset 4px 3px 5px rgba(0,0,0,.7);
}
form{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
input{
  margin-right: 20px;
}
